---
layout: default
---
<article class="post">
  <header> 
    <div class="title">
      <h2>{{ page.title | escape }}</h2>
    </div>
    <div class="meta">
      <time class="published" datetime="{{ page.date }}">{{ page.date | date: "%d %b %Y %R" }}</time>
      <a href="/about.html" class="author"><span class="name">M.{{ site.author.last_name }}</span><img src="{{ site.author.avatar | prepend: site.baseurl }}" alt="MMorabe" /></a>
    </div>
  </header>
  {{ content }}
  

  <footer>
    <ul class="stats">
      <li><a class="icon" href="{{ site.fullurl }}"><i class="fas fa-fw fa-folder"></i>Home</a></li>
      <li><a href="//github.com/mlmorabe/blog/edit/master/{{ page.path }}" class="icon"><i class="fas fa-fw fa-edit"></i> Edit</a></li>
    </ul>
  </footer>
  
</div>
</article>
<ul class="actions pagination">
  {% if page.previous.url %}
    <li><a href="{{page.previous.url}}" class="button big previous icon"><i class="fw fas fa-chevron-left"></i>Previous</a></li>
  {% endif %}
  {% if page.next.url %}
    <li><a href="{{page.next.url}}" class="button big next icon">Next<i class="fw fas fa-chevron-right"></i></a></li>
  {% endif %}
</ul>


{%include comments.html %}


